@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }
  20% {
    opacity: 0;
    transform: translateY(50%);
  }
  50% {
    opacity: 1;
    transform: translateY(20%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
 .ListContainer {
        width: 100%;
    /* max-width: 1200px; */
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 64px;
    margin-bottom: 64px;
    animation: 5s anim-lineUp ease-in-out forwards;
   
      }
     /* .Title {
        font-size: 50px;
    
     text-align: center;
        margin: 0;
        color: #673D7D;
        margin-top: 64px;
      }*/
      p {
        margin: 0;
      }
      
      .row {
        display: flex;
        justify-content: space-around;
      }
      .col {
        display: flex;
        flex-direction: column;
        margin: 16px;
      }
      
      .Pagination {
        a {
          color: white;
          text-decoration: none;
          display: inline;
          margin: 2px;
        }
      }
      