@import '../endpoints.scss';
.header_nav {
  align-items: center;
  display: flex;
  /* justify-content: space-between;*/
  font-size: 1.5em;
  height: 5.5em;

  @include tablet-only {
    font-size: 1em;
  }
  @include mobile-only {
    font-size: 1em;
  }
}
.title {
  margin-top: -1.5em;
}
.title h1 {
  font-family: 'zeyada', cursive;
  font-size: 2em;
  @include mobile-only {
    font-size: 2em;
  }
}
.title p {
  margin: -2.5em 0px 0 2.5em;
  @include mobile-only {
    font-size: 1em;
    margin: -2.5em 0px 0 1em;
  }
}
.flexLink {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-left: 21em;
  @include mobile-only {
    position: fixed;
    z-index: 1002;
    font-size: 2em;
    top: -100vh;
    left: 0;
    height: 177em;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    color: #bbb;
    background-color: black;
    transition: 1s;
  }
}
.nav-btn {
  background: transparent;
  border: none;
  outline: none;
  font-size: 1.5em;
  color: #eee;
  visibility: hidden;
  opacity: 0;
  @include mobile-only {
    visibility: visible;
    opacity: 1;
    color: black;
    position: absolute;
    right: 0;
  }
}
.responsive_nav {
  @include mobile-only {
    transform: translateY(100vh);
  }
}
.nav-close-btn {
  @include mobile-only {
    position: absolute;
    top: 0rem;
    right: 2rem;
    visibility: visible;
    opacity: 1;
    color: white;
  }
}
.navbar {
  margin-left: 1em;
  font-weight: 900;
  @include mobile-only {
    margin: 0.9em 0 -0.6em 1em;
  }
  &:hover {
    font-weight: 100;
  }
  p {
    cursor: pointer;
    transition: 0.5s linear;
    &:hover {
      color: #bbb;
      text-shadow: 0 0 5px #bbb, 0 0 10px #fff, 0 0 15px #fff;
    }
  }
}

.slider {
  position: relative;
  height: 2px;
  background-color: #ccc;
  border-radius: 4px;
  transition: background-color 0.3s ease-in-out;
  opacity: 0; /* Par défaut, la barre de progression est masquée */
}

.navbar:hover .slider {
  opacity: 1;
  /* La barre de progression devient visible lors du survol du lien */
}

.slider:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: grey;
  border-radius: 4px;
  transition: width 0.3s ease-in-out;
}
.navbar:hover .slider:before {
  width: 100%; /* La barre de progression s'étend sur toute la largeur lors du survol */
}
